[package]
name = "eris"
version = "0.1.1"
authors = ["Andreas Ots <qrpth@qrpth.eu>"]
license = "Apache-2.0"
readme = "README.md"
edition = "2018"
build = "build.rs"

[build-dependencies]
lalrpop = { version = "0.17.2", default-features = false }

[dependencies]
bytes = { version = "0.5.3", default-features = false }
chrono = { version = "0.4.10", default-features = false }
chrono-tz = { version = "0.5.1", default-features = false }
clap = { version = "2.33.0", default-features = false }
diesel = { version = "1.4.3", default-features = false, features = ["chrono", "postgres", "r2d2", "serde_json"] }
diesel_full_text_search = { version = "1.0.1", default-features = false }
egg-mode-text = { version = "1.14.7", default-features = false }
eris-macros = { path = "eris-macros" }
failure = { version = "0.1.6", default-features = false }
futures = { version = "0.3.1", default-features = false, features = ["std", "async-await"] }
inventory = { version = "0.1.5", default-features = false }
joinery = "2.0.0"
jsonwebtoken = { version = "7.0.0-alpha.2", default-features = false }
lalrpop-util = { version = "0.17.2", default-features = false }
lazy_static = { version = "1.4.0", default-features = false }
log = { version = "0.4.10", default-features = false, features = ["max_level_trace", "release_max_level_info", "std"] }
rand = { version = "0.7.2", default-features = false, features = ["std"] }
regex = { version = "1.3.2", default-features = false, features = ["perf", "std", "unicode"] }
reqwest = { version = "0.10.0", default-features = false, features = ["rustls-tls", "json"] }
rust-ini = { version = "0.14.0", default-features = false }
separator = { version = "0.4.1", default-features = false }
serde = { version = "1.0.104", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.44", default-features = false }
serenity = { version = "0.7.4", default-features = false, features = ["cache", "rustls_backend", "standard_framework"] }
slog = { version = "2.5.2", default-features = false, features = ["max_level_trace", "release_max_level_debug"] }
slog-async = { version = "2.3.0", default-features = false }
slog-scope = { version = "4.3.0", default-features = false }
slog-term = { version = "2.4.2", default-features = false }
strfmt = { version = "0.1.6", default-features = false }
tokio = { version = "0.2.9", default-features = false, features = ["uds", "tcp", "fs", "io-util", "rt-threaded", "blocking", "macros", "time", "stream"] }
tokio-util = { version = "0.2.0", default-features = false, features = ["codec"] }
unicode-width = { version = "0.1.7", default-features = false }
url = { version = "2.1.1", default-features = false }

[dev-dependencies]
pin-utils = { version = "0.1.0-alpha.4", default-features = false }
