[package]
name = "eris"
version = "0.1.0"
authors = ["Andreas Ots <qrpth@qrpth.eu>"]
license = "Apache-2.0"
readme = "README.md"
edition = "2018"

[dependencies]
byteorder = "1.2.7"
bytes = "0.4.11"
chrono = "0.4.5"
chrono-tz = "0.5.0"
clap = "2.32.0"
csv = "1.0.2"
diesel = { version = "1.3.2", features = ["postgres", "r2d2", "serde_json"] }
egg-mode = "0.12.0"
failure = "0.1.2"
futures-preview = { version = "0.3.0-alpha.10", features = ["compat"] }
log = { version = "0.4.6", features = ["max_level_trace", "release_max_level_info"] }
reqwest = "0.9.5"
rust-ini = "0.13.0"
separator = "0.3.1"
serde = "1.0.71"
serde_derive = "1.0.71"
serde_json = "1.0.33"
serenity = "0.5.9"
slog = { version = "2.4.1", features = ["max_level_trace", "release_max_level_debug"] }
slog-async = "2.3.0"
slog-scope = "4.0.1"
slog-term = "2.4.0"
tokio = "0.1.11"
tokio-core = "0.1.17"

[patch.crates-io]
serenity = { git = "https://github.com/andreasots/serenity", branch = "old-voice-state" }
