[package]
name = "eris"
version = "0.1.1"
authors = ["Andreas Ots <qrpth@qrpth.eu>"]
license = "Apache-2.0"
readme = "README.md"
edition = "2018"
build = "build.rs"

[build-dependencies]
lalrpop = { version = "0.19.6", default-features = false, features = ["lexer"] }

[dependencies]
anyhow = { version = "1.0.41", default-features = false, features = ["std"] }
bytes = { version = "1.0.1", default-features = false }
chrono = { version = "0.4.19", default-features = false }
chrono-tz = { version = "0.5.3", default-features = false }
clap = { version = "2.33.3", default-features = false }
diesel = { version = "1.4.7", default-features = false, features = ["chrono", "postgres", "r2d2", "serde_json"] }
diesel_full_text_search = { version = "1.0.1", default-features = false }
egg-mode-text = { version = "1.14.7", default-features = false }
eris-macros = { path = "eris-macros" }
futures = { version = "0.3.15", default-features = false, features = ["std", "async-await"] }
inventory = { version = "0.1.10", default-features = false }
joinery = "2.1.0"
jsonwebtoken = { version = "7.2.0", default-features = false }
lalrpop-util = { version = "0.19.6", default-features = false }
lazy_static = { version = "1.4.0", default-features = false }
log = { version = "0.4.14", default-features = false, features = ["max_level_info", "release_max_level_info", "std"] }
ordinal = "0.2"
rand = { version = "0.8.4", default-features = false, features = ["std", "std_rng"] }
regex = { version = "1.5.4", default-features = false, features = ["perf", "std", "unicode"] }
reqwest = { version = "0.11.4", default-features = false, features = ["rustls-tls", "json"] }
rust-ini = { version = "0.17.0", default-features = false }
separator = { version = "0.4.1", default-features = false }
serde = { version = "1.0.126", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.64", default-features = false }
serenity = { version = "0.10.8", default-features = false, features = ["gateway", "cache", "rustls_backend", "standard_framework"] }
tracing = { version = "0.1.26", default-features = false, features = ["std", "attributes", "max_level_trace", "release_max_level_debug"] }
tracing-subscriber = { version = "0.2.19", default-features = false, features = ["chrono", "fmt", "env-filter", "json", "tracing-log"] }
strfmt = { version = "0.1.6", default-features = false }
tokio = { version = "1.8.1", default-features = false, features = ["net", "fs", "io-util", "rt-multi-thread", "macros", "time"] }
tokio-util = { version = "0.6.7", default-features = false, features = ["codec"] }
unicode-width = { version = "0.1.8", default-features = false }
url = { version = "2.2.2", default-features = false }
